/* Fichier SCSS généré automatiquement */

p#iojij. {
    color: ;
    background-color: ;
    border-color: ;
    font-family: ;
    font-style: ;
    font-weight: ;
    font-size: 40%;
    text-align: ;
    width: 4rem;
    height: 40px;
    margin: 0px;
    padding: 0px;
}

a#. {
    color: ;
    background-color: ;
    border-color: ;
    font-family: ;
    font-style: ;
    font-weight: ;
    font-size: 30px;
    text-align: ;
    width: autopx;
    height: autopx;
    margin: 0px;
    padding: 0px;
}

div#. {
    color: ;
    background-color: ;
    border-color: ;
    font-family: ;
    font-style: ;
    font-weight: ;
    font-size: autopx;
    text-align: ;
    width: autopx;
    height: autopx;
    margin: 0px;
    padding: 0px;
}

header#. {
    color: ;
    background-color: ;
    border-color: ;
    font-family: ;
    font-style: ;
    font-weight: ;
    font-size: autopx;
    text-align: ;
    width: autopx;
    height: autopx;
    margin: 0px;
    padding: 0px;
}
