/* Fichier SCSS généré automatiquement */

textarea#dof.ff {
    color: ;
    background-color: ;
    border-color: ;
    font-family: ;
    font-style: ;
    font-weight: ;
    font-size: 11em;
    text-align: ;
    width: 89vw;
    height: 11px;
    margin: 34px;
    padding: 11px;
}

tr#. {
    color: ;
    background-color: ;
    border-color: ;
    font-family: ;
    font-style: ;
    font-weight: ;
    font-size: autopx;
    text-align: ;
    width: autopx;
    height: autopx;
    margin: 0px;
    padding: 0px;
}

td#. {
    color: ;
    background-color: ;
    border-color: ;
    font-family: ;
    font-style: ;
    font-weight: ;
    font-size: autopx;
    text-align: ;
    width: autopx;
    height: autopx;
    margin: 0px;
    padding: 0px;
}
