/* Fichier SCSS généré automatiquement */

tr#.ffdd {
    color: ;
    background-color: ;
    border-color: ;
    font-family: ;
    font-style: ;
    font-weight: ;
    font-size: autopx;
    text-align: ;
    width: autopx;
    height: autopx;
    margin: 0px;
    padding: 0px;
}
