/* Fichier SCSS généré automatiquement */

$h1-color: "" ;
$h1-bg-color: " ";
$h1-border-color: " ";
$h1-font-family: ;
$h1-font-style: ;
$h1-font-weight: ;
$h1-font-size: auto;px;

h1#.bigTitle {
    color: $h1-color;
    background-color: $h1-bg-color;
    border-color: $h1-border-color;
    font-family: $h1-font-family;
    font-style: $h1-font-style;
    font-weight: $h1-font-weight;
    font-size: $h1-font-size;
}

$h2-color: "" ;
$h2-bg-color: " ";
$h2-border-color: " ";
$h2-font-family: ;
$h2-font-style: ;
$h2-font-weight: ;
$h2-font-size: 30;px;

h2#. {
    color: $h2-color;
    background-color: $h2-bg-color;
    border-color: $h2-border-color;
    font-family: $h2-font-family;
    font-style: $h2-font-style;
    font-weight: $h2-font-weight;
    font-size: $h2-font-size;
}

$h2-color: "" ;
$h2-bg-color: " ";
$h2-border-color: " ";
$h2-font-family: ;
$h2-font-style: ;
$h2-font-weight: ;
$h2-font-size: auto;px;

h2#.Second {
    color: $h2-color;
    background-color: $h2-bg-color;
    border-color: $h2-border-color;
    font-family: $h2-font-family;
    font-style: $h2-font-style;
    font-weight: $h2-font-weight;
    font-size: $h2-font-size;
}

$p-color: "" ;
$p-bg-color: " ";
$p-border-color: " ";
$p-font-family: ;
$p-font-style: ;
$p-font-weight: ;
$p-font-size: 2;rem;

p#. {
    color: $p-color;
    background-color: $p-bg-color;
    border-color: $p-border-color;
    font-family: $p-font-family;
    font-style: $p-font-style;
    font-weight: $p-font-weight;
    font-size: $p-font-size;
}

$form-color: "" ;
$form-bg-color: " ";
$form-border-color: " ";
$form-font-family: ;
$form-font-style: ;
$form-font-weight: ;
$form-font-size: auto;px;

form#. {
    color: $form-color;
    background-color: $form-bg-color;
    border-color: $form-border-color;
    font-family: $form-font-family;
    font-style: $form-font-style;
    font-weight: $form-font-weight;
    font-size: $form-font-size;
}

$input-color: "" ;
$input-bg-color: " ";
$input-border-color: " ";
$input-font-family: ;
$input-font-style: ;
$input-font-weight: ;
$input-font-size: auto;px;

input#. {
    color: $input-color;
    background-color: $input-bg-color;
    border-color: $input-border-color;
    font-family: $input-font-family;
    font-style: $input-font-style;
    font-weight: $input-font-weight;
    font-size: $input-font-size;
}

$footer-color: "" ;
$footer-bg-color: " ";
$footer-border-color: " ";
$footer-font-family: ;
$footer-font-style: ;
$footer-font-weight: ;
$footer-font-size: 7;rem;

footer#. {
    color: $footer-color;
    background-color: $footer-bg-color;
    border-color: $footer-border-color;
    font-family: $footer-font-family;
    font-style: $footer-font-style;
    font-weight: $footer-font-weight;
    font-size: $footer-font-size;
}

$ul-color: "" ;
$ul-bg-color: " ";
$ul-border-color: " ";
$ul-font-family: ;
$ul-font-style: ;
$ul-font-weight: ;
$ul-font-size: auto;px;

ul#. {
    color: $ul-color;
    background-color: $ul-bg-color;
    border-color: $ul-border-color;
    font-family: $ul-font-family;
    font-style: $ul-font-style;
    font-weight: $ul-font-weight;
    font-size: $ul-font-size;
}

$li-color: "" ;
$li-bg-color: " ";
$li-border-color: " ";
$li-font-family: ;
$li-font-style: ;
$li-font-weight: ;
$li-font-size: 24;px;

li#. {
    color: $li-color;
    background-color: $li-bg-color;
    border-color: $li-border-color;
    font-family: $li-font-family;
    font-style: $li-font-style;
    font-weight: $li-font-weight;
    font-size: $li-font-size;
}

$ol-color: "" ;
$ol-bg-color: " ";
$ol-border-color: " ";
$ol-font-family: ;
$ol-font-style: ;
$ol-font-weight: ;
$ol-font-size: auto;px;

ol#. {
    color: $ol-color;
    background-color: $ol-bg-color;
    border-color: $ol-border-color;
    font-family: $ol-font-family;
    font-style: $ol-font-style;
    font-weight: $ol-font-weight;
    font-size: $ol-font-size;
}

$a-color: "" ;
$a-bg-color: " ";
$a-border-color: " ";
$a-font-family: ;
$a-font-style: ;
$a-font-weight: ;
$a-font-size: 20;px;

a#. {
    color: $a-color;
    background-color: $a-bg-color;
    border-color: $a-border-color;
    font-family: $a-font-family;
    font-style: $a-font-style;
    font-weight: $a-font-weight;
    font-size: $a-font-size;
}
